<div class="timesheet header ui-g-12">
  <h2>
    My timesheet
  </h2>
  <h3>
    Keeping it simple
  </h3>
</div>

<p-tabView class="ug-g-12 tabs">
  <p-tabPanel header="My Times"
              *ngFor="let day of daysOfWeek;let first = first;" header="{{day}}"
              [selected]="first">
    <p-dataTable [value]="getTimesForDay(day)" class="timesheet-grid">
      <p-column field="project" header="Project"></p-column>
      <p-column field="category" header="Category"></p-column>
      <p-column field="startTime" header="Start Time"></p-column>
      <p-column field="endTime" header="End Time"></p-column>
    </p-dataTable>
  </p-tabPanel>
</p-tabView>
