<div class="timesheet header ui-g-12">
  <h2>
    {{ day }}
  </h2>
  <h3>
    {{ dateAndMonth }}
  </h3>
</div>

<p-tabView class="ug-g-12 tabs" (onChange)="onChangeTabs($event)">
  <p-tabPanel header="My Times"
              *ngFor="let day of daysOfWeek;let first = first;" header="{{day}}"
              [selected]="first">
    <p-dataTable [value]="getTimesForDay(day)" class="timesheet-grid">
      <p-column field="project" header="Project"></p-column>
      <p-column field="category" header="Category"></p-column>
      <p-column field="startTime" header="Start Time"></p-column>
      <p-column field="endTime" header="End Time"></p-column>
    </p-dataTable>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Create Time" [modal]="true" [(visible)]="displayEditDialog"
  [ngSwitch]="dialogPageIndex">

  <p-steps [model]="dialogPages" [(activeIndex)]="dialogPageIndex" [readonly]="false">
  </p-steps>

  <div *ngSwitchCase="PageNames.TimePage">
    <app-schedule [events]="events" [weekends] [header]="headerConfig" styleClass="calendar"
      defaultView="timelineDay" [editable]="true" [nowIndicator]="true"
      [allDaySlot]="false">
    </app-schedule>
  </div>

  <div *ngSwitchCase="PageNames.ProjectPage">
    Project page goes here.
  </div>

  <div *ngSwitchCase="PageNames.PlacePage">
    Place page goes here.
  </div>

  <div *ngSwitchCase="PageNames.PeoplePage">
    People page goes here.
  </div>

  <p-footer>
    <button pButton label="Cancel" icon="fa-times" (click)="cancelDialog()" class="ui-button-secondary"></button>
    <button pButton label="Save" icon="fa-check" (click)="saveNewEntry()"></button>
  </p-footer>
</p-dialog>

<button pButton label="Add time entry" (click)="displayEditDialog = true"></button>
