p-dataTable >>> .ui-datatable-footer {
  min-height: 60px;
}

p-dataTable >>> .ui-datatable-footer input {
  margin-left: 0.5em;
  font-size: larger;
  padding: 3px;
}

p-dataTable >>> .ui-datatable-footer {
  min-height: 60px;
}

p-dataTable >>> .selectBoxColumn {
  width: 43px;
}

p-contextMenu >>> .ui-menuitem-active a {
  background-color: #F15B2A !important;
}
